.header {
  @apply flex w-screen max-h-[100px] dark:bg-[#1A1C1E] bg-[#F2F2F2] p-[24px] justify-center items-center;
  border-radius: 0 0 12px 12px;
}

@media screen and (min-width: 660px) {
  .header__center {
    @apply flex items-center justify-center flex-1;
  }
  .header__center > p {
    @apply dark:text-white text-black font-bold text-[24px] whitespace-nowrap;
  }
}

@media screen and (max-width: 660px) {
  .header__center {
    display: none;
  }
}

.header__left {
  @apply flex items-center flex-1;
}

.header__main {
  display: flex;
  width: calc(1200px + calc(2 * 24px));
}

.header__right {
  @apply flex items-center flex-1 justify-end;
}

.header__right > button {
  @apply flex dark:bg-[#202325] bg-[#D9D9D9] w-[42px] h-[42px] rounded-lg border-[none] cursor-pointer items-center justify-center;
}

.header__right > button:hover {
  @apply dark:bg-[#25282c] bg-[#CBCBCB];
}

@media screen and (min-width: 1010px) {
  .header__left {
    @apply flex items-center flex-1;
  }
}
