@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border select-none;
  font-family: "Manrope";
  @apply text-black dark:text-white;
}

.App {
  @apply flex flex-col dark:bg-[#1c2b34] bg-[#38576A] h-screen w-screen;
}

body {
  overflow: hidden;
}

button {
  @apply dark:bg-[#202325] bg-[#D9D9D9] cursor-pointer rounded-lg px-4 py-3.5;
}

button:hover {
  @apply dark:bg-[#25282c] bg-[#CBCBCB];
}
