@keyframes FadeIn {
  from {
    @apply opacity-0 translate-y-10;
  }
  100% {
    @apply opacity-100 translate-y-0;
  }
}

.container {
  @apply flex flex-col justify-center h-full w-screen gap-[6px];
  max-width: calc(1200px + calc(2 * 24px));
  min-width: 216px;
  animation: FadeIn 0.5s ease-in-out;
}

.graph {
  @apply flex flex-col dark:bg-[#1a1c1e] bg-[#F2F2F2] justify-center items-center h-[72%] rounded-[12px];
}

.settings {
  @apply flex flex-col dark:bg-[#1a1c1e] bg-[#F2F2F2] items-center max-h-[28%] rounded-[12px];
}

.settingsButtons {
  @apply flex flex-col justify-center w-full h-full gap-[12px] p-[24px];
}

.settingsTitle {
  @apply text-[18px] font-medium m-0;
}
